@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #111111;

  --accent: #b4f000;
  --accent-hover: #9ad900;

  --card: #ffffff;
  --border: #e5e5e5;

  --radius-lg: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);

  --color-card: var(--card);
  --color-border: var(--border);

  --radius-lg: var(--radius-lg);

  --font-sans: var(--font-pretendard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #f5f5f5;

    --card: #141414;
    --border: #2a2a2a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
